<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <%= form_for(user, url: users_path)  do |form| %>
      <% if form.object.new_record? %>
         <%= form.label 'First Name' %><br>
         <%= form.text_field :first_name %><br>
         <%= form.label 'Last Name' %><br>
         <%= form.text_field :last_name %><br>
      <% end %>

         <%= form.label 'Email' %><br>
         <%= form.text_field :email %><br>
         
      <% if form.object.new_record? %>
         <%= form.label 'Location' %><br>
         <%= form.text_field :location %><br>
         <%= form.label 'State' %><br>
         <%= form.select(:state, options_for_select(states))  %><br>
      <% end %>

         <%= form.label 'Password' %><br>
         <%= form.password_field :password %><br>
         
      <% if form.object.new_record? %>
         <%= form.label 'password confirmation' %><br>
         <%= form.password_field :password_confirmation %><br>
      <% end %>

      <%= form.submit (form.object.new_record? ? 'create' : 'update')  %>
      <%end%>

      <%= form_tag '/login' do %>
         <%= label_tag 'email', @user.email %><br>
         <%= text_field_tag 'email' %><br>
         <%= label_tag 'password', @user.password %><br>
         <%= password_field_tag 'password'%><br>
         <%= submit_tag "Login"%>
      <% end %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>