<!doctype html>
<html lang="en">

<head>
   <title>Title</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <style>
   .blogs{
      border: 3px solid black;
      width: 400px;
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom: 30px;
      padding: 5px;
   }
   .registration{
      margin-bottom: 30px;
   }
   .postForm{
      margin-left: 15px;
      margin-top: 15px;
   }
   p{
      margin: 0px;
   }
   input{
      margin: 0px;
   }
   </style>
   <!-- Bootstrap CSS -->
</head>

<body>
   <div class="header">
      <h1>The Dojo Message Board</h1>
      <% if(typeof session.user != "undefined") { %>
         <h3>Welcome, <%= session.user.name %></h3>
         <a href="/sessions/destroy">Log Out</a>
      <% } %>
      <hr>
   </div>
   <% if(typeof session.user == "undefined") { %>
      <div class="registration">
         <h3>Register</h3>
         <form action="/users/create" method="POST">
            <p>Name</p>
            <input type="text" name="name">
            <input type="submit" value="Create User">
         </form>
         <h4>Login</h4>
         <form action="/sessions/create" method="POST">
            <p>Name</p>
            <input type="text" name="name">
            <input type="submit" value="Log In">
         </form>
      </div>
   <% } %>

   <div class="blog">
      <form action="/blogs/create" method="POST">
         <p>Title</p>
         <input type="text" name="title">
         <p>Message</p>
         <textarea name="content" cols="60" rows="3"></textarea>
         <input type="submit" value="Create Blog">
      </form>
   </div>

   <% if(typeof users != "undefined"){%>
      <%for(var i = 0; i < users.length; i++){ %>
         <h2><%= users[i].name %>'s Blogs </h2>
         <%for(var b = 0; b < users[i]["blogs"].length; b++){ %>
            <div class="blogs">
               <h3><%= users[i]["blogs"][b]["title"] %></h3>
               <p><%= users[i]["blogs"][b]["content"] %></p>
               <p><%= users %></p>
               <div class="post">
                  <form class="postForm" action="/posts/create" method="POST">
                     <input type="hidden" value="<%=users[i]['blogs'][b]['_id']%>" name="Blog_id">
                     <p>Title</p>
                     <input type="text" name="title">
                     <p>Post</p>
                     <textarea name="content" cols="40" rows="2"></textarea>
                     <input type="submit" value="Create Post">
                  </form>
               </div>
            </div>
         <% } %>
      <% } %>
   <% } %>






   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>