<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

      @{
            string FirstName = ViewBag.FirstName;
            string LastName = ViewBag.LastName;
            string Email = ViewBag.Email;
            string Password = ViewBag.Password;
            string PasswordConfirmation = ViewBag.PasswordConfirmation;
         }
    
    <h1>Success!!</h1>
    <p>@FirstName</p>
    <p>@LastName</p>
    <p>@Email</p>
    <p>@Password</p>
    <p>@PasswordConfirmation</p>

</body>
</html>