<!doctype html>
<html lang="en">

<head>
   <title>Title</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <style>
         body{
            text-align: center;
         }
         .options{
            border: 2px solid black;
            display: inline-block;
            margin: 15px;
         }
      </style>
</head>

<body>
   <h2>Your Gold</h2>
   <p><%= @gold %></p>
   <div class='options'>
      <h3>Farm</h3>
      <p>(earns 10-20 golds)</p>
      <form action="/games" method="POST">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="building" value="farm">
         <input type="submit" value="Find Gold">
      </form>
   </div>
   <div class='options'>
      <h3>Cave</h3>
      <p>(earns 5-10 golds)</p>
      <form action="/games" method="POST">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="building" value="cave">
         <input type="submit" value="Find Gold">
      </form>
   </div>
   <div class='options'>
      <h3>House</h3>
      <p>(earns 2-5 golds)</p>
      <form action="/games" method="POST">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="building" value="house">
         <input type="submit" value="Find Gold">
      </form>
   </div>
   <div class='options'>
      <h3>Casino</h3>
      <p>(earns/take 0-50 golds)</p>
      <form action="/games" method="POST">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="building" value="casino">
         <input type="submit" value="Find Gold">
      </form>
   </div>
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>